.nav{
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    margin: 0 0 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navOptions{
    display: flex;
    gap: 20px;
}

.navButton{
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.navButton:hover{
    transform: scale(1.05);
}