#navbar {
    height: 70px;
    width: 100%;
    background: linear-gradient(#fb492c, #ff4749);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

#navbar > ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

#navbar li{
    padding: 8px 15px;
    border-radius: 5px;
}

/* .signupbtn{
    background-color: white;
    color: black;
} */

.signupbtn:hover{
    background-color: rgba(255, 255, 255, 0.167);
}

.loginbtn:hover{
    background-color: rgba(255, 255, 255, 0.167);
}

.logoutbtn:hover{
    background-color: rgba(255, 255, 255, 0.167);
}
